@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.account {
  background-color: $primary-purple4;
  color: $primary-font1;
  font-weight: 700;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6rem);
  padding-left: 5rem;
  padding-right: 5rem;
  align-items: center;

  &__h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__bottom {
    background-color: $primary-white;
    color: $primary-font1;
    font-weight: 400;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
  }

  &__list-item {
    display: flex;
    list-style: none;
  }

  &__list-item-title {
    width: 6rem;
    font-weight: 700;
  }

  &__bottom-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__link {
    @include button2;
    text-align: center;
    margin-top: 1rem;
    padding-top: 0.7rem;
  }

  &__link:hover {
    @include button2-hover;
  }

  &__button {
    @include button2;
    text-align: center;
    margin-top: 1rem;
  }

  &__button:hover {
    @include button2-hover;
  }
}
