@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.scoreboard-tasks-all {
  &__content {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(300px, 1fr)
    ); // Ensure no more than two columns
    gap: 1rem;

    @media (min-width: 600px) {
      // On larger screens
      grid-template-columns: repeat(2, 1fr); // 2 columns
    }

    @media (min-width: 1200px) {
      // Further larger screens
      grid-template-columns: repeat(
        3,
        1fr
      ); // Up to 3 columns if desired, adjust accordingly
    }
  }

  &__title {
    font-size: 1.5rem;
    // margin-bottom: 1rem;
  }
}

.scoreboard-tasks-user {
  flex: 1;
  margin-top: 1rem;

  &__icon {
    margin-bottom: 0.5rem;
  }
}

.scoreboard-tasks-user-tasks {
  &__list {
    list-style-type: none;
    padding: 0 0 1rem 0;
    margin: 0;
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    background-color: $primary-done;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
    height: 1.7rem;
    line-height: 1rem;
    align-items: center;
  }

  &__list-item-part {
    width: 30%;
    font-weight: 400;
    font-size: 0.9rem;

    &--title {
      font-weight: 700;
      font-size: 1rem;
      width: 70%;
    }
  }
}
