@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.landing-header {
  // margin-top: 2rem;
}

.landing-main {
  margin-top: -2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.2rem;
  margin-top: 1.5rem;

  &__h1 {
    color: $primary-font1;
    font-size: 2rem;
  }

  &__text {
    margin-bottom: 1rem;
    line-height: 1.7rem;
  }

  &__illustration {
    height: 20rem;
    margin-right: 5rem;
  }

  &__image-container {
    text-align: center;
  }

  &__text-and-buttons {
    padding-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-between;
    width: 30rem;
    text-align: left;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 2rem;
  }

  &__button {
    flex: 1;
    @include button1;
  }

  &__button:hover {
    @include button1-hover;
  }

  &__footnote {
    color: $primary-font1;
    font-size: 0.8rem;
    margin-right: 5rem;
  }

  &__link {
    color: $primary-font1;
  }
}
