@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.initial-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.8rem;
  font-weight: 700;
  background-color: pink;
  border-radius: 50%; //
  height: 4.2rem;
  width: 4.2rem;
  margin-left: 1rem;
}
