@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.initial-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.8rem;
  font-weight: 700;
  border-radius: 50%;
  height: 4.2rem;
  width: 4.2rem;
  color: $primary-font1;
}

.initial-icon-small {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
}

// initial 'C' isn't centred in cricle, adjustment below
.initial-icon-c {
  margin-left: -0.2rem;
}
