@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.daily-tasks-all {
  display: flex;
  gap: 1rem;
  background-color: $primary-purple3;
  padding: 1rem;
  border-radius: 5px;

  &__text {
    margin: 0rem;
    font-size: 0.9rem;
  }
}

.daily-tasks {
  flex: 1;

  &__column-headers-div {
    display: flex;
    width: 100%;
    height: 1.5rem;
    justify-content: space-between;
  }

  &__column-headers {
    width: 30%;
    margin-top: 0rem;
    font-size: 0.8rem;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    background-color: $primary-white;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    padding: 0.5rem;

    &--done {
      background-color: $primary-done;
    }
  }

  &__list-item:hover {
    background-color: $primary-button2;
    cursor: pointer;
  }

  &__list-item-part {
    width: 30%;
    font-weight: 400;
    font-size: 0.9rem;

    &--title {
      font-weight: 700;
      font-size: 1rem;
    }
  }
}
