@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  height: 4rem;
  background-color: $primary-purple1;
  padding: 1rem;

  &__logo {
    height: 4rem;
    margin-top: 1rem;
  }

  &__center {
    display: flex;
    flex: 1; /* Allows this section to take up remaining space */
    justify-content: center; /* Center content horizontally */
  }

  &__greeting-avatar {
    display: flex;
    flex-direction: row; /* Place items side by side */
    align-items: center; /* Center items vertically */
    font-size: 1.5rem;
  }

  &__avatar {
    height: 4rem;
    margin-left: 0.5rem;
  }

  &__right {
    display: flex;
    align-items: center; /* Center items vertically */
  }

  &__link {
    font-size: 0.9rem;
    font-weight: 700;
    color: $primary-white;
    margin-right: 1.5rem;
  }

  &__link:hover {
    color: $primary-button2;
  }
}
