@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.delete-people-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &__content {
    position: relative;
    background: white;
    padding: 1rem;
    border-radius: 5px;
    width: 25rem;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button-close {
    position: absolute;
    width: 2.5rem;
    color: $primary-white;
    top: 1rem;
    right: 1rem;
    border: none;
    background: $primary-font1;
    font-size: 2rem;
    border-radius: 5px;
    cursor: pointer;
  }

  &__button-close:hover {
    background: $primary-button2;
  }

  &__h1 {
    color: $primary-font1;
    margin: 3rem 0 0 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}

.delete-people-overlay-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__input {
    margin-bottom: 0.8rem;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  &__button {
    @include button2;
    width: 100%;
  }

  &__button:hover {
    @include button2-hover;
  }
}
