@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home-all {
  border-radius: 5px;
}

.my-home-content {
  &__h3 {
    margin-top: 6rem;
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
    font-size: 1.2rem;
  }

  &__people-container {
    display: flex;
    gap: 1rem;
    background-color: $primary-purple3;
    padding: 1rem;
    border-radius: 5px;
  }

  &__person {
    text-align: center;
  }

  &__button-container {
    text-align: right;
  }

  &__person-name {
    margin-top: 0.5rem;
  }

  &__button {
    @include button2;
    margin: 1rem 0 0 1rem;
  }

  &__button:hover {
    @include button2-hover;
  }
}
